<ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
    <li class="nav-item menu-open">
        <a href="#" class="nav-link active">
            <i class="nav-icon fas fa-tachometer-alt"></i>
            <p>
                Examples
                <i class="right fas fa-angle-left"></i>
            </p>
        </a>
        <ul class="nav nav-treeview">
            <li class="nav-item">
                <a href="<%= examplesBootstrapPath() %>" class="nav-link active">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Bootstrap</p>
                </a>
            </li>
            <li class="nav-item">
                <a href="<%= examplesWidgetsPath() %>" class="nav-link">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Widgets</p>
                </a>
            </li>
            <li class="nav-item">
                <a href="<%= examplesTablesPath() %>" class="nav-link">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Tables</p>
                </a>
            </li>
        </ul>
    </li>
</ul>